alembic

attrs

blinker

certifi

charset-normalizer

click

exceptiongroup

Flask

Flask-Migrate

Flask-SQLAlchemy

h11

idna

iniconfig

itsdangerous

Jinja2

Mako

MarkupSafe

outcome

packaging

pluggy

prometheus-client

prometheus-flask-exporter

PySocks

pytest
python-dotenv
requests
selenium
sniffio
sortedcontainers
SQLAlchemy
trio

trio-websocket

typing_extensions

urllib3

webdriver-manager

Werkzeug

wsproto

