{% extends 'base.html' %}
{% block content %}
</div>
  
<div class="container">
  <h1 style="text-align: center;">GREETINGS!</h1>
</div>

<div class="container" style="background-color:#f1f1f1">
    <h2 style="text-align: center;">Hello {{ username }}!</h2>
    <p style="text-align: center; color:green">Your login details recorded successfully.</p>
    
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="tenor-gif-embed" data-postid="20856902" data-share-method="host" data-aspect-ratio="1" data-width="25%"><a href="https://tenor.com/view/rick-astley-never-gonna-give-you-up-rickroll-dance-moves-dancing-guy-gif-20856902">Rick Astley Never Gonna Give You Up GIF</a>from <a href="https://tenor.com/search/rick+astley-gifs">Rick Astley GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
    
{% endblock %}